{{ partial "navigation-buttons.html" . }}
{{ partial "update-info.html" . }}
{{ if .Params.chapter }}
</div>
{{ end }}
</div>
{{ partial "custom-comments.html" . }}
</div>

{{ partial "navigation.html" . }}
</section>
<div
   style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
   <div
      style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
   </div>
</div>
</div>
{{- partial "sidenav.html" . -}}
</div>
</div>
{{ partial "script.html" . }}
{{ partial "custom-footer.html" . }}
</body>
