<li>
   <a class="padding">
      <div class="clr-select-wrapper">
         <i class="fas fa-language fa-fw"></i>
         <select class="clr-select" id="select-language" onchange="location = this.value;">
            {{ $siteLanguages := .Site.Languages}}
            {{ $pageLang := .Page.Lang}}
            {{ range .Page.AllTranslations }}
            {{ $translation := .}}
            {{ range $siteLanguages }}
            {{ if eq $translation.Lang .Lang }}
            {{ $selected := false }}
            {{ if eq $pageLang .Lang}}
            <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{
               .LanguageName }}</option>
            {{ else }}
            <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">
               {{ .LanguageName }}
            </option>
            {{ end }}
            {{ end }}
            {{ end }}
            {{ end }}
         </select>

      </div>
   </a>
</li>
