.branding .title {
  margin-left: 1rem;
}

.children.children-li ul {
  margin-left: 2rem;
}

.content-area {
  padding: 0 !important;
}

form.search {
  max-width: 75em;
  padding-right: 5em
}
.search label {
  width: 80em;
}
.search label input[type="text"] {
  width: 100%;
  padding-left: 1em
}
