<h3>Contribute</h3>
<div style="padding-left: 1em;">
    <!-- GitHub Watch button -->
    <a class="github-button" href="https://github.com/TheNewStellW/vmware-operations-guide/subscription" data-icon="octicon-eye" data-size="small" data-show-count="true" aria-label="Watch TheNewStellW/vmware-operations-guide on GitHub">Watch</a>
    <!-- GitHub Star button -->
    <a class="github-button" href="https://github.com/TheNewStellW/vmware-operations-guide" data-icon="octicon-star" data-show-count="true" aria-label="Star TheNewStellW/vmware-operations-guide on GitHub">Star</a>
    <!-- GitHub Fork button -->
    <a class="github-button" href="https://github.com/TheNewStellW/vmware-operations-guide/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork TheNewStellW/vmware-operations-guide on GitHub">Fork</a>
    <!-- GitHub Issues button -->
    <a class="github-button" href="https://github.com/TheNewStellW/vmware-operations-guide/issues" data-icon="octicon-issue-opened" data-show-count="true" aria-label="Issue TheNewStellW/vmware-operations-guide on GitHub">Issue</a>
    <!-- GitHub Discuss button -->
    <a class="github-button" href="https://github.com/TheNewStellW/vmware-operations-guide/discussions" data-icon="octicon-comment-discussion" aria-label="Discuss TheNewStellW/vmware-operations-guide on GitHub">Discuss</a>
</div>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>