{{- $folder := .Get "folder" -}}
{{- $boxTitle := .Get "boxTitle" -}}
{{- $baseurl := .Site.BaseURL}}

<section class="attachments blue">
	<label>
		<i class="fas fa-paperclip" aria-hidden="true"></i>
		{{ $boxTitle }}
	</label>
	<div class="attachments-files">
	{{ range (readDir ( print "static/files/downloads/" $folder)) }}
		<li>
			<a href="{{ print $baseurl "files/downloads/" $folder "/" .Name }}">
				{{.Name}}
			</a>
			({{div .Size 1024 }} {{T "BinaryPrefix-kilobyte"}})
		</li>
	{{ end }}
	</div>
	{{.Inner}}
</section>
